<a href="https://colab.research.google.com/github/alsh02/basic-data-analysis-study/blob/main/%EA%B8%B0%EC%B4%88_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_%EC%8A%A4%ED%84%B0%EB%94%94_1%EC%B0%A8%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기초 데이터 분석 스터디 1차시
코딩은 **"도구"**입니다. 데이터 분석을 위해서는 데이터를 직접적으로 다뤄야하는데, 현대에서는 거의 대부분의 데이터는 컴퓨터 안에 존재합니다.\
따라서 저희는 컴퓨터와 소통하는 도구로써 코딩을 배워야 합니다.\
저희는 수많은 프로그래밍 언어 중에서 Python을 사용합니다.

# 출력하기
print() 라는 함수(함수는 아래에서 설명합니다!)를 이용해서 괄호 안에 넣은 것들을 **출력**할 수 있습니다.\
텍스트창에 마우스를 가져가면 나타나는 왼쪽의 버튼을 클릭하거나, 텍스트창을 클릭한 후 ctrl + Enter를 입력하면 코드가 실행됩니다.
\
\
예제 코드 아래에 있는 텍스트창에 출력하고 싶은 문장을 아무거나 출력해봅시다😊

In [ ]:
print("Hello Python!!")

Hello Python!!

In [ ]:
# 아무 문장이나 입력해보아요! <-- 이 초록 글씨는 주석입니다. 코드를 설명하기 위해서 사용합니다.

# [-----코드 작성-----]

# 변수와 자료형
코딩을 하다보면 값을 저장하고 사용해야 할 때가 있습니다. 이를 위해서 **변수**가 필요합니다!
\
변수란 **값을 저장하기 위한 이름을 가진 공간**입니다.
\
\
파이썬에는 변수에 다양한 값들을 저장할 수 있습니다. 변수에 저장할 수 있는 값들의 유형을 **자료형**이라고 합니다. 파이썬에는 대표적으로 int, float, string, tuple, set, list, dictionary, boolean 등의 자료형이 있습니다.
\
\
```int```           : 정수\
```float```         : 실수\
```string```        : 문자열\
```tuple```         : 튜플\
```set```           : 집합\
```list```          : 리스트\
```dictionary```    : 딕셔너리\
```boolean```       : 부울

In [ ]:
# 이처럼 변수에 이름을 붙여 만드는 과정을 "변수 선언"이라고 하고,
# 선언된 변수에 값을 집어넣는 과정을 "변수 초기화"라고 합니다.
int_var = 1                             # 정수
float_var = 0.5                         # 실수
string_var = "모연!"                     # 문자열
tuple_var = (1, 2, 3)                   # 튜플
set_var = {4, 5, 6}                     # 집합
list_var = [9, 8, 1]                    # 리스트
dict_var = {"apple": 1, "yello": 34}    # 딕셔너리
bool_var = True                         # 부울

# 아래 코드는 각 변수의 자료형(type)을 출력하는 코드입니다. (결과값에 있는 class라는 개념은 이번 차시에는 넘어가도록 하겠습니다.)
print(type(int_var))
print(type(float_var))
print(type(string_var))
print(type(tuple_var))
print(type(set_var))
print(type(list_var))
print(type(dict_var))
print(type(bool_var))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'tuple'>
<class 'set'>
<class 'list'>
<class 'dict'>
<class 'bool'>

# 연산자
계산을 위해서 꼭 필요한 것은 연산자입니다. 덧셈을 위해서 덧셈 기호가 필요한 것처럼 말이죠!

In [ ]:
# 변수 선언 & 초기화
a = 7
b = 2

# 연산자
print(a + b)    # 덧셈
print(a - b)    # 뻴셈
print(a * b)    # 곱셈
print(a / b)    # 나눗셈
print(a // b)   # 나눗셈 -> 몫만 구하기
print(a % b)    # 나눗셈 -> 나머지만 구하기
print(a ** b)   # 거듭제곱

9
5
14
3.5
3
1
49

# 조건문
만약 17이 짝수인지 아닌지를 알아보기 위해서 어떻게 해야할까요?\
짝수란 2로 나누었을 때 나누어떨어지는 숫자입니다! 따라서 나누었을 때 나머지가 0인지 아닌지를 확인하면 됩니다!\
조금 다른 말로 하면 17을 2로 나눈 나머지가 0인지 아닌지를 판단하면 됩니다. 우리는 이를 **if문**을 통해 구현할 수 있습니다!

In [ ]:
number = 17

if number % 2 == 0:
    print("짝수입니다!")
else: # else 뒤에는 아무런 조건이 붙지 않습니다!
    print("홀수입니다!")

홀수입니다!

위 코드에서 사용된 ```==``` 같은 연산자는 **"비교 연산자"**라고 합니다.\
비교 연산자로는 ==, !=, >, <, >=, <=이 있습니다.
\
\
```==``` : 같은지 비교\
```!=``` : 다른지 비교\
```>``` : 왼쪽이 오른쪽보다 큰지 비교\
```<``` : 왼쪽이 오른쪽보다 작은지 비교\
```>=``` : 왼쪽이 오른쪽보다 크거나 같은지 비교\
```<=``` : 왼쪽이 오른쪽보다 작거나 같은지 비교

# 주의사항
![스크린샷 2024-03-20 021139.png]()\
파이썬은 코드에서 **"들여쓰기"**가 굉장히 중요합니다. 들여쓰기 때문에 오류가 나는 경우도 있습니다!

## 예제
조건문을 이용하여 다음 문제를 풀어봅시다!

윤이는 이번 학기 교양을 하나 수강했는데, 총점이 90점이 나왔다. 이 때 교수님이 간단한 성적 기준을 제안하셨다.
1. 90점 이상인 학생들은 A+
2. 70점 이상 90점 미만인 학생들은 B+
3. 50점 이상 70점 미만인 학생들은 C+
4. 30점 이상 50점 미만인 학생들은 D+
5. 나머지 학생들은 F

이 때 위 기준을 바탕으로 윤이의 학점이 어떻게 되는지 출력해주는 코드를 작성해봅시다!

In [ ]:
# 윤이의 학점은??
score = 90

# [-----코드 작성-----]

# 반복문
코드의 중복을 막기 위해서 같은 처리를 하나로 묶었다고 생각하면 됩니다.

숫자를 1부터 10까지 출력하는 코드를 작성한다고 해봅시다. 지금까지의 내용을 바탕으로 하면 아래와 같이 코드를 작성할 수 있습니다.

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

하지만 숫자가 커진다면 어떻게 될까요? 이를 일일히 다 작성하기엔 무리가 있을 것입니다.\
우리는 **for문**의 도움을 받아 이를 간략하게 표현할 수 있습니다!
\
\
파이썬에서 반복문은
```python
for i in range(start, stop, step)
```
의 형태로 작성합니다. start는 시작할 숫자, stop은 끝낼 숫자, step은 시작할 숫자와 끝낼 숫자 사이의 간격을 의미합니다. start와 step은 생략될 수 있습니다(각각 기본값이 0과 1입니다).

In [ ]:
for i in range(1, 11): # stop은 내가 멈추고자 할 숫자보다 1이 커야합니다. -> 10 + 1 = 11
    print(i)

1
2
3
4
5
6
7
8
9
10

## 예제
변수와 반복문을 이용해서 1부터 10까지의 합을 구하는 코드를 작성해봅시다!

In [ ]:
# 1부터 10까지의 합을 구하는 코드
sum = 0

# [-----코드 작성-----]

# in 뒤에는 range()만??

```in``` 뒤에 들어갈 수 있는 것은 ```range()```만이 아닙니다. 하나씩값을 가져올 수 있는 자료형은 모두 ```in``` 뒤에 들어갈 수 있습니다.\
이를 멋진 말로 **iterable**하다고 합니다. iterable한 자료형으로는 string, set, tuple, list 등이 있습니다.
\
\
예를 들어, 만약 리스트의 값들을 하나씩 불러온 다음 출력하는 코드는 다음과 같이 작성할 수 있습니다.

In [ ]:
arr = [4, 5, 9, 10]

for element in arr: # for 뒤의 변수 이름이 꼭 i일 필요는 없습니다!
    print(element)

4
5
9
10

# 리스트 다루기
리스트는 굉장히 유용한 자료형입니다. 리스트 안에는 여러 값들을 넣을 수 있습니다.\
앞에서 언급했듯이 여러 개의 원소로 구성되어있기 때문에 각 원소에 하나씩 접근할 수 있고 이 때문에 iterable한 자료형입니다!

## 리스트 슬라이싱
리스트에 저장된 원소들의 순서를 **인덱스**라고 하고, 이를 이용해서 리스트의 몇 개의 원소만 가져올 수 있도록 리스트를 자르는 것을 **리스트 슬라이싱**이라고 합니다.
모든 프로그래밍 언어의 첫번째 인덱스는 1이 아니라 **0입니다!**
\
\
리스트 슬라이싱은 다음과 같이 작성합니다.
```python
arr[start_idx : end_idx : step]
```
start_idx는 시작 인덱스, end_idx는 끝 인덱스, step은 start_idx와 end_idx의 간격을 의미합니다. step은 생략될 수 있습니다.

In [ ]:
arr = [1, 2, 3, 4, 5, 6]

print(arr[0])       # 인덱스를 통해서 0번 인덱스의 원소를 불러와 출력합니다
print(arr[2:4])     # 2번 인덱스부터 4번 인덱스 전까지의 원소를 불러와 출력합니다.
print(arr[:])       # 리스트의 모든 원소를 출력합니다.
print(arr[::-1])    # 리스트의 원소를 순서를 거꾸로 하여 출력합니다.

1
[3, 4]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

## 예제
임의로 길이가 5인 리스트를 선언한 뒤, 두번째부터 마지막 원소까지 슬라이싱하여 그 결과를 출력하는 코드를 작성해봅시다!

In [ ]:
arr = # [-----코드 작성-----]

# [-----코드 작성-----]

## 리스트 원소 추가 & 삭제하기
리스트에 원소를 추가할 때는 선언한 리스트 뒤에 ```.append()```를 붙이고 괄호 안에 추가할 원소를 입력하면 됩니다.\
리스트에서 원소를 삭제할 때는 선언한 리스트 뒤에 ```.remove()```를 붙이고 괄호 안에 삭제할 원소를 입력하면 됩니다.

In [ ]:
arr = [1, 2, 3, 5, 5, 6, 5, 7]

arr.append(8) # append()의 경우 마지막 인덱스 뒤에 원소를 추가한다.
arr.remove(5) # remove()의 경우 원소가 중복되는 경우, 가장 앞쪽 인덱스의 값부터 삭제된다.
print(arr)

[1, 2, 3, 5, 6, 5, 7, 8]

# 함수
함수를 이용하면 특정 기능을 수행하는 코드를 블록 단위로 묶을 수 있게 됩니다.\
수학에서는 어떤 입력값을 넣으면 출력값을 뱉어주는 관계를 함수라고 합니다. 파이썬에서도 비슷한 기능을 합니다!
\
\
파이썬에서는 ```def```라는 키워드를 사용해서 함수를 선언합니다.

In [1]:
# 입력값의 두 배를 돌려주는 함수 만들기
def twice_num(a):
    return a * 2

num = 5
result = twice_num(num)
print(result)

10

위의 코드를 한 번 더 살펴봅시다.
```python
def twice_num(a):
    return a * 2
```
여기서 괄호 안의 a를 함수의 **"매개변수(parameter)"**라고 합니다. 매개변수는 필수가 아닙니다!\
함수 안의 ```return``` 뒤에 오는 변수나 값을 반환합니다. 반환값은 있을 수도 있고, 없을 수도 있습니다.

```python
result = twice_num(num)
```
위 코드처럼 선언된 함수를 사용하는 것을 **"함수를 호출한다"**고 합니다.\
함수를 호출할 때 괄호 안에 들어가는 변수나 값은 함수의 **"인자(argument)"**라고 합니다. 매개변수가 없는 함수라면 인자도 없습니다!

## 예제
위에서 배운 반복문과 함수를 기반으로 새로운 함수를 만들어봅시다.
> 인자로 넘긴 숫자만큼 Hello를 반복하여 출력하는 함수

In [ ]:
# Hello x n
n = 10 # 해당값은 수정하셔도 됩니다!

# [-----코드 작성-----]